<footer>
    <div class="footer">
        <div class="about">
            <div>
            <p>
                <h4>About Us</h4>This website is designed as a django project. <br> For more info feel free to contact us.</p>
            </div>
        
            <div>
            <p>
                <h4>Contact</h4>Adress : Heisterbrug 73 6365 CB Schinnen/Netherlands <br> Tel : +31 123 456 789 <br> E-mail : info@pycoders.nl
            </p>
            </div>
        
        </div>
        
        <div class="signoff">
            <p #id="footer_text">made by Huzeyfe & Semih with <span id="heart">❤</span></p>
        </div>
    </div>
</footer>