{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- webfont -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Exam Project</title>
</head>
<body>
    {% include '_header.html' %}
    
    <div>
    {% block content %}{% endblock %}
    </div>
    
    {% include '_footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>